@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* font-family: 'Exo', sans-serif;
font-family: 'Roboto', sans-serif; */

header {
  margin: 0;
}

.logo {
  background: url(../images/rosie.jpeg) no-repeat center/cover;
  min-height: 360px;
}
